body {
background-color: grey;
}

.toolbar {
    background-color: #5DC21E;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 3px 13px 5px rgba(0,0,0,0.75);
    z-index: 1;
}

.game-title h1 {
font-size: 18px;
margin-left: 108px;    
}

.game {
border-bottom: 1px solid #434242; 
padding-bottom: 2px;
min-height: 110px;
}

.title h1 {
    margin: 0;
    color: white;
}

.title {
    float: left;
    
}

.backHome {
    float: left;
    margin-right: 75px;
}

.backHome a  {
    text-decoration: none;
    color: #FF0000;
    font-family: Aria,Helvetica,sans-serif;
    font-size:20px;
}

.body {
margin-bottom: 47px;
}

.image img {
width: 100px;
}

.game .image{
position: absolute;

}

.description {
    border-bottom: 1px solid #434242;
    min-height: 110px;
    margin-bottom: 10px;
}