body {
background-color: #727071;
}

.toolbar {
    background-color: #5DC21E;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 3px 13px 5px rgba(0,0,0,0.75);
    z-index: 1;
}

.backHome {
    float: left;
    margin-right: 75px;
}

.backHome a  {
    text-decoration: none;
    color: #FF0000;
    font-family: Aria,Helvetica,sans-serif;
    font-size:20px;
}

.title {
    float: left;
    
}

.title h1 {
    margin: 0;
    color: white;
}
 
.body {
    margin-top: 47px;
}

.image img {
   
   width: 100px;
   
}

.game .image {
    position: absolute;
}


.game .game-title {
    margin-left: 110px;
    
    
}


.game-title h1 {
font-size: 18px;
}
 
.game {
border-bottom: 1px solid #434242;
    
}

.acheivment .imageborderlands {
position: absolute;
}


.acheivment {
border-bottom: 1px solid #434242;
padding-bottom: 2px;
min-height: 70px;
}

.name h1 {
border-bottom: 1px solid #434242;

}
.name {
    font-size: 10px;
    margin-left: 110px;
    
}

.name a{
    text-decoration: none;
    color: black;
    font-family: Aria,Helvetica,sans-serif;
}


 
    .clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
    
    .clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */